<section class="page">
   <div class="container">
      <div class="w-50 mx-auto pb-5 mb-4 text-danger">
         <b style="font-size: 50px;">
               <i class="bi bi-arrow-down-right float-start"></i>
               <i class="bi bi-arrow-down-left float-end"></i>
         </b>
      </div>
      <div class="fs-2 w-50 mx-auto text-center">
         <div class="text-danger border border-3 border-danger rounded-pill p-4 w-75 mx-auto">
            <b>This page not found</b>
         </div>
      </div>
   </div>
</section>